*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
:root{
    --color-selected-menu-item: rgb(255, 204, 102);
    --color-active-menu-item:rgb(255, 208, 146);
    --color-header: #FFFFFF;
    --color-font: #000000;
    --color-principal: rgb(255, 204, 102);  
    --color-footer:4c4c4c;
}
/**************** Fuente Menu **********************/
.menu li a{
    font-size:30px;
    font-family: 'Pacifico', cursive;
}
/**************** Fuente Headers **********************/
h1{
    font-size:30px;
    font-family: 'Pacifico', cursive;
}
/**************** STATIC MENU **********************/
.static-top-menu{
    position: fixed;
    width:100%;
    background-color: var(--color-header);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    border-bottom: 1px solid var(--color-principal);
    height: auto;
    z-index: 1;
}
/****************** MENU  *****************/
.menu{
    margin: 0;
    height:130px;
    display: flex;
    height: auto;
}
.menu-image{
    display: block;
    width: 250px;
    height: 100%;
    margin:0 auto;
    text-align: center;
    padding-top:5px;  
    padding-bottom: 5px;
    flex:25%;
}
.menu-image img{
    width: 120px;
    height: 120px;
    border-radius: 20px;
    border: 3px solid var(--color-selected-menu-item);  
}
.logo{
    margin-right: 50px;
    float: right;
    border: 1px solid black;
    width: 200px;
    height: 120px;
    border-radius: 20px;
    text-align: center;
    font-size:30px;
    padding-top: 25px; 
}
.logo a{ 
    color:black;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}
.menu-list{
    margin-top: 30px;
    margin-right:20px;
    list-style: none;
    display: flex; 
}
.menu-items{
    height: 100%;
    text-align: center;
    margin: 0 auto;
	max-width: 643px;
    flex:50%;
}
.menu-item{
    max-width: 210px;
    flex: 1;
}
.menu-item a{
    text-align: center;
    padding: 5px 25px;
    text-decoration: none;
    display: block;
    color: var(--color-font);
    font-size:30px;
    border: 1px solid rgba(255, 204, 102,0.5);
    /* background-color: #ffe2a9;*/
}
.menu-items-first{
    border-radius: 20px 0 0 20px;
    border-right: 0 !important;
}
.menu-items-last{
    border-radius: 0 20px 20px 0;
    border-left: 0 !important;  
}
.active-menu-item{
    background-color: var(--color-active-menu-item);
}
.menu-item a:hover{
    background-color: var(--color-selected-menu-item);
}
.login{
    flex-grow: 1;
    margin-top:30px;
    flex:25%;
    height: 65px;
}
.login-image{
    margin-right: 10px;
    float: right;
    width: 63px;
    height: 63px;
    border-radius: 15px;
    border: 1px solid var(--color-principal);
}
.login-image img{
    width:100%;
    height: 100%;
    border-radius: 15px;
}
.login-image img:hover{
    opacity: 0.8;
}
/***************** Icon Menu resposive *********************/
.menu-items i{
    display: none;
    font-size: 35px;
    float: right;
    margin-right: 20px;
    margin-top: 10px; 
    padding: 15px;
    border: 3px solid var(--color-selected-menu-item);
    border-radius: 10px;
}
.menu-items i:hover{
    background-color: var(--color-selected-menu-item);
}

/**************** SUBMENU *******************/
.submenu{
    width:100%;
    height: auto;
}
.submenu-items{
    list-style: none;
    display: flex;
    margin:0 auto;
    max-width: 760px;
}
.submenu-item{
    padding: 10px;
    flex:1;
    text-align: center;
}
.submenu-item a{
    padding: 5px;
    display: block;
    border-radius: 5px;
    color: var(--color-font);
    border: 1px solid rgba(255, 204, 102,0.7);
    max-width: 200px;
}
.submenu-item a:hover{
    text-decoration: none;
    background-color: var(--color-selected-menu-item);
}
.submenu-item a{
    text-decoration: none;
}
/***************************** CONTENT CSS ****************************/
.spacer{
    width: 100%;
    height: 100px;
}
.content{
    width: 100%;
    padding:30px;
}
/************ Content Quienes Somos****************/
.block1{
    max-width: 1000px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.block-image{
    width: 50%;
    margin:5px;
    height: auto;
    flex-basis: 45%;
}
.block-image img{
    width: 100%;
    border-radius: 50px;
}
.block-text{
    width: 50%;
    margin: 15px;
    text-align: justify;
    flex-basis: 45%;
}
/************ Content Como Ordenar ****************/
.block2{
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.block-child{
    flex: 1;
    margin: 10px;
    border: 1px solid var(--color-principal);
    border-radius: 0 50px 50px 50px;
    padding-bottom: 30px;
}
.step{
    height: auto;
}
.step h2{
    text-align: center;
}
.step-number{
    width:60px;
    height:60px;
    text-align:center;
    background-color:var(--color-principal);
    border-radius:0 0 30px 0;
    padding-top:8px;
    padding-right: 5px; 
}
.step-icon{
    text-align: center;
    font-size: 75px;
}
.step-description{
    text-align: center;
    margin: 10px;
    font-size: 13px;
    text-align: justify;
}
/************ Content Opiniones ****************/
.block3{
    max-width: 1000px;
    margin:0 auto;
    height: auto;
}
.opinion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:10px;
    border-radius: 25px;
    border: 1px solid var(--color-principal);
    height: auto;
}
.opinion-image{
    margin: 20px;
    width:80px;
    height: 80px;
}
.opinion-image img{
    width:100%;
    height: 100%;
    border-radius: 50%;
}
.opinion-text{
    margin: 10px;
    flex:1;
}
.opinion-stars{
    flex: 1 100%;
    text-align: right;
    margin-right: 20px; 
    margin-top: 5px;
    margin-bottom: 5px; 
    font-size: 25px;
}
.opinion-stars i{
    color: var(--color-principal);
 }
/************************************  Slider *************************************/
.slider{
    width:100%;
    height: auto;
    position: relative;
}
.slider-images{
    padding: 0 20px 0 20px;
    width: 100%;
    height: 500px;
    /* background-image: url(../../img/slider/slider-image-1.jpg); */
}
.slider-images img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.slider-arrows{
    position: absolute;
    top: 200px;
    width:100%;
    height:100px;
    padding-left:5px;
    padding-right:5px;
    
}
.left-arrow{
    float: left;
    width:50px;
    height: 100%;
}
.right-arrow{
    float: right; 
    width:50px;
    height: 100%;
}
.left-arrow a{
    background-color: var(--color-active-menu-item);
    display: block;
    text-align: center;
    border-radius: 20px 0 0 20px;
    font-size: 40px;
    color:grey;
    height:100%;
    padding-top: 20px; 
}
.right-arrow a{
    background-color: var(--color-active-menu-item);
    display: block;
    border-radius: 0 20px 20px 0;
    height: 100%;
    font-size: 40px;
    color:grey;
    height:100%;
    padding-top: 20px;
    padding-left:15px; 
}
.left-arrow a:hover{
    background-color: var(--color-principal);
}
.right-arrow a:hover{
    background-color: var(--color-principal);
}

.pager{
    position: absolute;
    top: 100%;
    margin:0 auto;
    padding: 5px;
    width: 100%;
    height: auto;
}
.pager-items{
    max-width: 130px;
    margin:0 auto;
    height: 40px;
    display: flex;
}
.pager-item{
    margin: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    text-align: center;
}
.pager-item a{
    border: 1px solid black;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.pager-item a:hover{
    background-color: var(--color-selected-menu-item);
}
.pager-item-active a{
    background-color: var(--color-active-menu-item);
}
/***************   Mapa  *************/
.mapa{
    margin: 0;
    width: 100%;
    height: 350px;
}
/***************   Footer  *************/
.footer{
    background: var(--color-footer);
    height: 350px;
    display: flex;
    margin: 15px;
}
.footer h2{
    font-family:'Pacifico', cursive;
}
.footer-item{
    flex: 1;
    border: 1px solid var(--color-principal);
    border-radius: 30px;
    margin: 10px;
    padding: 15px;
}
/***************   Responsive (Menu) *************/


@media (max-width: 1200px){
    /************ Content Quienes Somos ****************/
    .block1{
       display: grid;
       grid-template-columns: 1fr; 
       text-align: center;
       max-width: 600px;
       grid-auto-flow: dense;
    }
    .block-image{
       width: 100%;
       grid-row: 2; 
    }
    .block-text{
        width: 100%;
        grid-row: 1;
    }
    
    /************ Content Como Ordenar****************/
    /* .block-child{
        flex:45%;
    } */
    .block2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /***************   Footer  *************/
    .footer{
        display: grid;
        grid-template-columns: 1fr;
    }

    /************ Slider ****************/

    /************ Slider ****************/
    .menu-items{
        margin-left: 0;
    }
    
   
}
@media (max-width: 640px){
    .menu{
        border: 0;
        box-shadow: none;  
    }
    .menu-image img{
        width: 85px;
        height: 85px;
    }
    .menu-items i{
        display: block;
    }
    .menu-items ul{
        display: none;
    }
    .submenu{
        display: none;
    } 
    /************ Content Como Ordenar****************/
    .block2{
        display: grid;
        grid-template-columns: 1fr; 
    }
    
}
