*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --color-selected-menu-item: #FFCC66;
    --color-hover-menu-item:#FF9900;
    --color-header: #FFFFFF;
    --color-font: #000000;
}
/* STATIC MENU */
.static-top-menu{
    position: fixed;
}
/* MENU  */
.menu{
    margin: 5px;
}
.menu-image{
    max-width: 200px;
    max-height: 200px;
    margin:0 auto;
}
.menu-image img{
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.menu-items{
    list-style: none;
    display: flex;
}
.menu-items li{
    padding: 15px;
}
.menu-items a{
    display: block;
}
.menu-items a:hover{
    background-color: var(--color-hover-menu-item);
}
.submenu{
    width:100%;
}
.submenu-items{
    list-style: none;
}