*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
:root{
    --color-selected-menu-item: rgb(255, 204, 102);
    --color-active-menu-item:rgb(255, 208, 146);
    --color-header: #FFFFFF;
    --color-font: #000000;
    --color-principal: rgb(255, 204, 102);  
    --color-footer:4c4c4c;
}
/**************** Fuente Menu **********************/
.menu li a{
    font-size:30px;
    font-family: 'Pacifico', cursive;
}
/**************** Fuente Headers **********************/
h1{
    font-size:30px;
    font-family: 'Pacifico', cursive;
}
/**************** STATIC MENU **********************/
.static-top-menu{
    position: fixed;
    width:100%;
    background-color: var(--color-header);
    box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
    height: auto;
    z-index: 1;
}
/****************** MENU  *****************/
.menu{
    margin: 0;
    height:130px;
    display: flex;
}
.menu-image{
    display: block;
    width: 250px;
    height: 100%;
    margin:0 auto;
    text-align: center;
    padding-top:5px;
    flex-grow: 1;
}
.menu-image img{
    width: 120px;
    height: 120px;
    border-radius: 20px;
    border: 3px solid var(--color-selected-menu-item);  
}
.logo{
    margin-right: 50px;
    float: right;
    border: 1px solid black;
    width: 200px;
    height: 120px;
    border-radius: 20px;
    text-align: center;
    font-size:30px;
    padding-top: 25px; 
}
.logo a{ 
    color:black;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}
.menu-items{
    height: 100%;
    flex-grow: 1;
    text-align: center;
}
.menu-list{
    margin-top: 30px;
    margin-right: 20px;
    list-style: none;
    display: flex; 
}
.menu-item a{
    text-align: center;
    padding: 5px 25px;
    text-decoration: none;
    display: block;
    color: var(--color-font);
    font-size:30px;
    border: 1px solid rgba(255, 204, 102,0.5);
    /* background-color: #ffe2a9;*/
}
.menu-items-first{
    border-radius: 20px 0 0 20px;
    border-right: 0 !important;
}
.menu-items-last{
    border-radius: 0 20px 20px 0;
    border-left: 0 !important;  
}
.active-menu-item{
    background-color: var(--color-active-menu-item);
}
.menu-item a:hover{
    background-color: var(--color-selected-menu-item);
}
.login{
    width:100%;
    height: 65px;
    text-align: right;
    padding: 2px 20px;
    display: block;
    color: var(--color-font);
    /* border: 1px solid rgba(255, 204, 102,0.5);  */
    border-radius: 20px;
    margin-left: 30px;
}
.login img{
    width: 65px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid var(--color-principal);
}
.login img:hover{
    
}

/***************** Icon Menu resposive *********************/
.menu-items i{
    display: none;
    font-size: 35px;
    float: right;
    margin-right: 20px;
    margin-top: 10px; 
    padding: 15px;
    border: 3px solid var(--color-selected-menu-item);
    border-radius: 10px;
}
.menu-items i:hover{
    background-color: var(--color-selected-menu-item);
}

/**************** SUBMENU *******************/
.submenu{
    width:100%;
    height: auto;
    margin: 0 auto;
}
.submenu-items{
    list-style: none;
    display: flex;
    margin:0 auto;
    max-width: 760px;
}
.submenu-item{
    padding: 10px;
    flex-grow: 1;
    text-align: center;
}
.submenu-item a{
    padding: 5px;
    display: block;
    border-radius: 5px;
    color: var(--color-font);
    border: 1px solid rgba(255, 204, 102,0.7);
    max-width: 200px;
}
.submenu-item a:hover{
    text-decoration: none;
    background-color: var(--color-selected-menu-item);
}
.submenu-item a{
    text-decoration: none;
}
/***************************** CONTENT CSS ****************************/
.spacer{
    width: 100%;
    height: 110px;
}
.content{
    width: 100%;
    padding:30px;
}
/************ Content Quienes Somos****************/
.block1{
    max-width: 1000px;
    margin:0 auto;
    display: flex;
    height: auto;
}
.block-image{
    width: 50%;
    margin:5px;
    height: auto;
}
.block-image img{
    width: 100%;
    border-radius: 50px;
}
.block-text{
    width: 50%;
    margin: 15px;
    text-align: justify;
}
/************ Content Como Ordenar****************/
.block2{
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.block-child{
    flex: 1;
    margin: 10px;
    border: 1px solid var(--color-principal);
    border-radius: 0 50px 50px 50px;
    height: 340px;
}
.option h2{
    text-align: center;
}
.option-number{
    width:60px;
    height:60px;
    text-align: center;
    background-color:var(--color-principal);
    border-radius:  0 0 30px 0;
    padding-top:8px;
    padding-right: 5px; 
}
.option-icon{
    text-align: center;
    font-size: 75px;
}
.option-description{
    text-align: center;
    margin: 10px;
    font-size: 13px;
    text-align: justify;
}
/************ Content Opiniones****************/
.block3{
    max-width: 1000px;
    margin:0 auto;
    height: auto;
}
.opinion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:10px;
    border-radius: 25px;
    border: 1px solid var(--color-principal);
    height: auto;
}
.opinion-image{
    margin: 20px;
    width:80px;
    height: 80px;
}
.opinion-image img{
    width:100%;
    height: 100%;
    border-radius: 50%;
}
.opinion-text{
    margin: 10px;
    flex:1;
}
.opinion-stars{
    flex: 1 100%;
    text-align: right;
    margin-right: 20px; 
    margin-top: 5px;
    margin-bottom: 5px; 
    font-size: 25px;
}
.opinion-stars i{
    color: var(--color-principal);
 }
/************************************  Slider *************************************/
.slider{
    padding: 10px;
    width:100%;
    height: 430px;
    border: 1px solid black;
}
.slider-images{
    border:1px solid black;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.slider-arrows{
    position: relative;
    border:1px solid black;
    width: 100%;
    height: 50px;
}
/***************   Mapa  *************/
.mapa{
    margin: 0;
    width: 100%;
    height: 350px;
}

/***************   Footer  *************/

.footer{
    background: var(--color-footer);
    height: 350px;
    display: flex;
    margin: 15px;
}
.footer h2{
    font-family:'Pacifico', cursive;
}
.footer-item{
    flex: 1;
    border: 1px solid var(--color-principal);
    border-radius: 30px;
    margin: 10px;
    padding: 15px;
}


/***************   Responsive (Menu) *************/

@media (max-width: 640px){
    .menu{
        border: 0;
        box-shadow: none;
        height: 100px;    
    }
    .menu-image img{
        width: 85px;
        height: 85px;
    }
    .menu-items i{
        display: block;
    }
    .menu-items ul{
        display: none;
    }
    .submenu{
        display: none;
    }  
}
